@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .font-h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  font-weight: 600;
}

h2, .font-h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

h3, .font-h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.text-display {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.text-body-lg {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.text-body-md {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-body-sm {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.text-label-md {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  font-weight: 600;
}

.text-label-sm {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 600;
}
